GoSport/WpfMaps/Connected Services/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TokenInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Session" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenInfo" nillable="true" type="tns:TokenInfo" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:CityInfo" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="CityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryInfo" nillable="true" type="tns:CountryInfo" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityInfo" nillable="true" type="tns:CityInfo" />
  <xs:complexType name="CountryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityInfos" nillable="true" type="tns:ArrayOfCityInfo" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryInfo" nillable="true" type="tns:CountryInfo" />
  <xs:complexType name="ArrayOfCityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityInfo" nillable="true" type="tns:CityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityInfo" nillable="true" type="tns:ArrayOfCityInfo" />
  <xs:complexType name="IncorrectInputData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncorrectInputData" nillable="true" type="tns:IncorrectInputData" />
  <xs:complexType name="ArrayOfCountryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryInfo" nillable="true" type="tns:CountryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryInfo" nillable="true" type="tns:ArrayOfCountryInfo" />
  <xs:complexType name="ActivityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityImages" nillable="true" type="tns:ArrayOfImageInfo" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Route" nillable="true" type="tns:RouteInfo" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityInfo" nillable="true" type="tns:ActivityInfo" />
  <xs:complexType name="ArrayOfImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageInfo" nillable="true" type="tns:ImageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageInfo" nillable="true" type="tns:ArrayOfImageInfo" />
  <xs:complexType name="ImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity" nillable="true" type="tns:ActivityInfo" />
      <xs:element minOccurs="0" name="BinaryImage" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageInfo" nillable="true" type="tns:ImageInfo" />
  <xs:complexType name="RouteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:CityInfo" />
      <xs:element minOccurs="0" name="Points" nillable="true" type="tns:ArrayOfPointInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteInfo" nillable="true" type="tns:RouteInfo" />
  <xs:complexType name="ArrayOfPointInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PointInfo" nillable="true" type="tns:PointInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPointInfo" nillable="true" type="tns:ArrayOfPointInfo" />
  <xs:complexType name="PointInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointInfo" nillable="true" type="tns:PointInfo" />
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
  <xs:complexType name="ArrayOfActivityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityInfo" nillable="true" type="tns:ActivityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivityInfo" nillable="true" type="tns:ArrayOfActivityInfo" />
</xs:schema>