GoSport/WpfMaps/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IService_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SignUp_IncorrectInputDataFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q1:IncorrectInputData" />
  </wsdl:message>
  <wsdl:message name="IService_SendCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCode" />
  </wsdl:message>
  <wsdl:message name="IService_SendCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConfirmEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmEmail" />
  </wsdl:message>
  <wsdl:message name="IService_ConfirmEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConfirmEmail_IncorrectInputDataFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q2:IncorrectInputData" />
  </wsdl:message>
  <wsdl:message name="IService_GetListCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCountries" />
  </wsdl:message>
  <wsdl:message name="IService_GetListCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetListCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCities" />
  </wsdl:message>
  <wsdl:message name="IService_GetListCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCitiesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SignUp" message="tns:IService_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SignUpResponse" message="tns:IService_SignUp_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/SignUpIncorrectInputDataFault" name="IncorrectInputDataFault" message="tns:IService_SignUp_IncorrectInputDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendCode" message="tns:IService_SendCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendCodeResponse" message="tns:IService_SendCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConfirmEmail" message="tns:IService_ConfirmEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConfirmEmailResponse" message="tns:IService_ConfirmEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/ConfirmEmailIncorrectInputDataFault" name="IncorrectInputDataFault" message="tns:IService_ConfirmEmail_IncorrectInputDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetListCountries" message="tns:IService_GetListCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetListCountriesResponse" message="tns:IService_GetListCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetListCities" message="tns:IService_GetListCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetListCitiesResponse" message="tns:IService_GetListCities_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IService/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IncorrectInputDataFault">
        <soap:fault use="literal" name="IncorrectInputDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendCode">
      <soap:operation soapAction="http://tempuri.org/IService/SendCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmEmail">
      <soap:operation soapAction="http://tempuri.org/IService/ConfirmEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IncorrectInputDataFault">
        <soap:fault use="literal" name="IncorrectInputDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetListCountries">
      <soap:operation soapAction="http://tempuri.org/IService/GetListCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCities">
      <soap:operation soapAction="http://tempuri.org/IService/GetListCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8000/Operation1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>